<div ng-controller="RecipesController">
    <div class="grid-100 row controls">
        <div class="grid-30">
            <select ng-model="selectedCategory" ng-change="getRecipes(selectedCategory)">
                <option value="">Please Select a Category</option>
                <option value="All">All Categories</option>
                <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
            </select>
        </div>
        <div class="grid-70">
            <div class="flush-right">
                <button ng-click="addRecipe()">+ Add Recipe</button>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div ng-if="recipes.length == 0" class="grid-100 row">
        <div class="grid-70">
            <p>No recipes found!</p>
        </div>
    </div>

    <div  ng-repeat="recipe in recipes" class="grid-100 row addHover">
        <a href="" ng-click="recipeDetail(recipe)">
            <div class="grid-70">
                <p>
                    {{recipe.name}}
                </p>
            </div>
        </a>
        <div class="hoverBlock">
            <div class="grid-30">
                <div class="flush-right">
                    <p>
                        <a href="" ng-click="editRecipe(recipe)"> <img src="images/edit.svg" height="12px"> Edit </a>
                        <a href="" ng-click="deleteRecipe(recipe) " class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>